<div class="analysis">
    <h3>Today's Class</h3>
    <div class="header-intro flx">
        <div class="left-component flx">
            <div class="user-info">
                <small><%- type %></small>
                <h1><%- profile_info.name %></h1>
                <p><%- profile_info.email %></p>
            </div>
            <div class="user-dp">
                <% if(typeof(profile_info?.dp_link)!='undefined'){ %>
                    <img <%- `src="${profile_info?.dp_link || 'https://google.com/'};"` %> alt="M2T2"/>
                <% }else{ %>
                    <div class="dp" <%- `style="background: ${profile_info?.bg || 'https://ai-dictionary.github.io/m2t2/assets/images/haze.png'};"` %>>
                        <%- (typeof(profile_info?.name)!='undefined'?(profile_info?.name?.split(' ').filter(Boolean)[0]?.[0] || '') + (profile_info?.name?.split(' ').filter(Boolean).slice(-1)[0]?.[0] || '0'):'UN') %>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="right-component">
            <div class="to-class-info flx">
                <div class="left-class-info">
                    <div class="btn-holder flx">
                        <div class="checkmark">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
                            </svg>
                        </div>
                        <div class="text">12:00 PM - 03:30 AM</div>
                        <div class="arrow">
                            
                        </div>
                    </div>
                    <h3>History of Physics</h3>
                    <div class="flx t-info">
                        <div class="btn flx">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-week" viewBox="0 0 16 16">
                                <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                            </svg>
                            <div class="t-date">16 Aug</div>
                        </div>
                        <div class="btn flx">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                            </svg>
                            <div class="t-location">Danlap</div>
                        </div>
                    </div>
                </div>
                <div class="right-class-info">
                    <% if (isHosted) { %>
                        <img src="https://ai-dictionary.github.io/m2t2/assets/images/teacher.png" alt="M2T2" />
                    <% } else { %>
                        <img src="../assets/images/teacher.png" alt="M2T2" />
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="timeline-intro">
        <div class="header flx">
            <h3>Class Schedule</h3>
            <select class="form-select form-control" aria-label=" select" id="timeline" >
                <option value="student" selected>Aug 2026</option>
                <option value="teacher">Sept 2026</option>
                <option value="admin">Oct 2026</option>
            </select>
        </div>
    </div>
</div>